{% extends "base.html" %} {% block title %}Login{% endblock %} {% block content
%}
<div class = "container loginContainer">
  <div class="row">
      <div class="col-12 textCol">
          <h1 class = "signUpText mb-2">Log in to Calendar</h1>
          <form class = "loginForm" method = "POST">
              <div class="mb-4">
                  <label for="FormControlInput1" class="form-label">Email</label>
                  <input type="email" class="form-control" id="email" name = "email" placeholder="johnSmith">
              </div>
              <div class="mb-4">
                  <label for="FormControlInput1" class="form-label">Password</label>
                  <input type="password" class="form-control" name = "password" id="password">
              </div>
              
            <button type="submit" class="btn btn-primary form-control">Log In</button> 
          </form>
      </div>
  </div>
</div> 
{% endblock %}
